<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="manhnguyen.shopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-sdk tools:overrideLibrary="com.theophrast.ui.widget" />
    <application
        android:name="manhnguyen.shopping.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logoshop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name="manhnguyen.shopping.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="manhnguyen.shopping.activity.HelpCenter"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="manhnguyen.shopping.activity.AboutUs"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="manhnguyen.shopping.activity.ReportSpamActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="manhnguyen.shopping.activity.SearchActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="manhnguyen.shopping.activity.OfferActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_background" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name="manhnguyen.shopping.activity.PaymentActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="manhnguyen.shopping.activity.OrderList"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="manhnguyen.shopping.activity.Categorylist" />
        <activity android:name="manhnguyen.shopping.activity.MyOrderActivity" />
        <activity android:name="manhnguyen.shopping.activity.SendCodeActivity" />
        <activity android:name="manhnguyen.shopping.activity.ResetPasswordActivity" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity android:name="manhnguyen.shopping.activity.TermsAndCondition" />
        <activity android:name="manhnguyen.shopping.activity.RegisterActivity" />
        <activity
            android:name="manhnguyen.shopping.activity.HomeActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustPan">
<!--            <intent-filter>-->
<!--                 <action android:name="android.intent.action.MAIN" />-->

<!--                 <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name="manhnguyen.shopping.activity.LocationActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="manhnguyen.shopping.activity.AccountDetail"
            android:screenOrientation="fullSensor" />
        <activity android:name="manhnguyen.shopping.activity.ForgetPasswordActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/mapskey" />

        <service
            android:name="manhnguyen.shopping.firebasejavas.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c3bf8b832aed21e1dd8cda2dd72dd3e6e9b15a2" />
    </application>

</manifest>